<template name="contextContent">
  <h3>User context</h3>
  <form class="set-context">
    <ul>
      <li>
        Patients:
        <input type="text" name="patientList" placeholder="Add patients by label (ex. DTB-011)" value={{patients}} />
      </li>
      <li>
        Genes:
        <input type="text" name="geneList" placeholder="Add genes by name (ex. AAA1)" value="{{genes}}"/>
      </li>
      <li>
        Signatures:
        <input type="text" name="signatureList" placeholder="Add signatures by label" value="{{signatures}}"/>
      </li>
    </ul>
    <input type="submit" value="Set context">
  </form>
</template>
